@font-face {
  font-family: "Golos Text";
  src: url("./assets/fonts/subset-GolosText-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Akzidenz-Grotesk Pro Med";
  src: url("./assets/fonts/subset-GolosText-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RoadRadio";
  src: url("./assets/fonts/subset-RoadRadio.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Golos Text Med";
  src: url("./assets/fonts/subset-GolosText-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Akzidenz-Grotesk Pro";
  src: url("./assets/fonts/subset-AkzidenzGroteskPro-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: "Golos Text", sans-serif;
  color: #262633;
  font-size: 17px;
  box-sizing: border-box;
}
